@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

.wheater-container {
    width: 40%;
    min-height: 400px;
    background: linear-gradient(to top, rgba(0, 9, 109, 1), rgba(0, 9, 109, 0.7));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 10px 20px;
}

.searchbar-container {
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

form {
    position: relative;
    width: 100%;
}

.searchbar-container .search-span {
    position: absolute;
    left: 10px;
    top: 15px;
}

.searchbar-container input {
    width: 100%;
    padding: 17px 10px 17px 41px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgba(0, 9, 109, 0.1);
    color: #fff;
    text-transform: uppercase;
}

.searchbar-container input::placeholder {
    text-transform: none;
}

.my-location-btn {
    border: 1px solid;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 15px;
    cursor: pointer;
    background-color: rgba(0, 9, 109, 0.2);
}

.material-symbols-rounded {
    color: #fff;
}

.current-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    width: 50%;
}

.current-weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.current-weather-info h1 {
    font-size: 4em;
    display: flex;
}

.current-weather-info span {
    font-size: 25px;
    font-weight: 400;
    margin-top: 5px;
}

.forecast-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 100%;
}

/* Hide scrollbar by default */
.forecast-container::-webkit-scrollbar {
    height: 4px;
    transition: height 0.3s ease;
    background-color: transparent;
}

/* Show scrollbar on hover */
.forecast-container:hover::-webkit-scrollbar {
    height: 4px;
}

.forecast-container:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
}

.hourly-weather-container {
    display: flex;
    border-top: 1px solid;
    width: 100%;
    gap: 17px;
    overflow-x: auto;
    padding-top: 20px;
}

.each-hour-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.each-hour-container p {
    font-size: 13px;
}

.hourly-img {
    width: 18px;
}

@media screen and (max-width: 768px) {
    .wheater-container {
        width: 100%;
        height: 100vh;
    }

    .forecast-container {
        gap: 18px;
    }
}