@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.app-container {
    width: 100%;
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

.wheater-container {
    width: 40%;
    min-height: 400px;
    background: linear-gradient(to top, rgba(0, 9, 109, 1), rgba(0, 9, 109, 0.7));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 10px 20px;
    position: relative;
}

.searchbar-container {
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

form {
    position: relative;
    width: 100%;
}

.searchbar-container .search-span {
    position: absolute;
    left: 10px;
    top: 15px;
}

.searchbar-container input {
    width: 100%;
    padding: 17px 10px 17px 41px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgba(0, 9, 109, 0.1);
    color: #fff;
    text-transform: uppercase;
}

.searchbar-container input::placeholder {
    text-transform: none;
}

.my-location-btn {
    border: 1px solid;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 15px;
    cursor: pointer;
    background-color: rgba(0, 9, 109, 0.2);
}

.material-symbols-rounded {
    color: #fff;
}

.current-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    width: 50%;
}

.current-weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.current-weather-info h1 {
    font-size: 4em;
    display: flex;
}

.current-weather-info span {
    font-size: 25px;
    font-weight: 400;
    margin-top: 5px;
}

.forecast-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 100%;
}

/* Hide scrollbar by default */
.forecast-container::-webkit-scrollbar {
    height: 4px;
    transition: height 0.3s ease;
    background-color: transparent;
}

/* Show scrollbar on hover */
.forecast-container:hover::-webkit-scrollbar {
    height: 4px;
}

.forecast-container:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
}

.hourly-weather-container {
    display: flex;
    border-top: 1px solid;
    width: 100%;
    gap: 17px;
    overflow-x: auto;
    margin-top: 18px;
    padding-top: 20px;
}

.each-hour-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.each-hour-container p {
    font-size: 13px;
}

.hourly-img {
    width: 22px;
}

.tendays-forecast-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}

.tenDays-foracast-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid #fff;
    margin-top: 18px;
    padding-top: 20px;

}

.daily-weather {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.1);
    /* just for visual aid */
    padding: 10px;
    box-sizing: border-box;
}

.weekDay {
    width: 13%;
}

.daily-weather> :nth-child(-n+3) {
    flex-grow: 1;
}

/* ANIMATION DONT WORK! */
.modal-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    transition: top 0.8s ease-in-out;
}

.show-modal {
    top: 0;
}

.modal-content {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    padding: 4em 2em;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    gap: 10px;
    color: gray;
    border-radius: 10px;
}

.modal-content h1 {
    font-size: 3em;
    letter-spacing: 1px;
}

.modal-content p {
    font-size: 1.2em;
    font-weight: 600;
}

.modal-content button {
    font-size: 1.2em;
    text-transform: uppercase;
    width: 80%;
    padding: 10px 0;
    margin-top: 30px;
    background: rgb(255, 73, 73);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.weather-details-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

.weather-details-container h1 {
    font-size: 3.5em;
}

.weather-details-container p {
    font-size: 20px;
    font-weight: bold;
}

.weather-details-container .temp {
    display: flex;
    gap: 35px;
}

.weather-details-container .temp span {
    font-size: 20px;
}

.weather-details-container .chance-of-rain-holder {
    display: flex;
    gap: 10px;
}

.rain-percent {
    width: 20px;
    height: auto;
}

.close-details {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url('../assets/close.svg');
    background-position: center;
    background-size: contain;
}



@media screen and (max-width: 768px) {
    .wheater-container {
        width: 100%;
    }

}